In [16]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import csv

import gmaps

# Census API Keys
from config import (api_key)

In [39]:
response = requests.get(f"https://api.census.gov/data/2019/pep/population?get=POP&for=state:*&key={api_key}").json()
response_df = pd.DataFrame(response)
rename_df = response_df.rename(columns={0: "Population", 1: "State Number"})
pop_df = rename_df.drop([0])
pop_df.to_csv("state_pop.csv", encoding="utf-8", index=False, header=True)
print(len(pop_df))
pop_df.head()

52

  Population State Number
1    2976149           28
2    6137428           29
3    1068778           30
4    1934408           31
5    3080156           32

In [40]:
income_response = requests.get(f"https://api.census.gov/data/timeseries/poverty/saipe?get=SAEPOVALL_PT,SAEMHI_PT,NAME&for=state:*&time=2018&key={api_key}").json()
income_response_df = pd.DataFrame(income_response)
rename_inc_df = income_response_df.rename(columns={1:"Median Household Income Est.", 2: "State", 4: "State Number"})
income_df = rename_inc_df.drop([0])
income_df = income_df.drop(columns= [0, 3])
income_df.to_csv("pop_income.csv", encoding="utf-8", index=False, header=True)
print(len(income_df))
income_df.head()

51

  Median Household Income Est.       State State Number
1                        49881     Alabama           01
2                        74912      Alaska           02
3                        59079     Arizona           04
4                        47094    Arkansas           05
5                        75250  California           06

In [60]:
merged_df = pd.merge(pop_df, income_df, on= "State Number")
merged_df = merged_df.set_index("State")
merged_df.to_csv("merged_pop_income_state.csv", encoding="utf-8", index=False, header=True)
print(len(merged_df))
merged_df.head()

51

            Population State Number Median Household Income Est.
State
Mississippi    2976149           28                        44740
Missouri       6137428           29                        54412
Montana        1068778           30                        55248
Nebraska       1934408           31                        59724
Nevada         3080156           32                        58740

In [59]:
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv") 
df.to_csv('covid_data.csv')
df = df.drop(columns= "fips")
df = df.rename(columns={"state":"State", "cases": "Cases", "deaths": "Deaths"})
df = df.groupby(df["State"]).sum()
df = df.reset_index()
covid = pd.merge(merged_df, df, on = "State")
covid = covid.drop(columns= "State Number")
merged_df.to_csv("merged_pop_income_state.csv", encoding="utf-8", index=False, header=True)
print(len(covid))
covid.head()

51

         State Population Median Household Income Est.    Cases  Deaths
0  Mississippi    2976149                        44740  3559917  122524
1     Missouri    6137428                        54412  3153497  111226
2      Montana    1068778                        55248   208278    3811
3     Nebraska    1934408                        59724  2067842   27465
4       Nevada    3080156                        58740  2712418   66028