In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json

import gmaps

# Census API Keys
from config import (api_key)

In [53]:
response = requests.get(f"https://api.census.gov/data/2019/pep/population?get=POP&for=state:*&key={api_key}").json()
response_df = pd.DataFrame(response)
rename_df = response_df.rename(columns={0: "Population", 1: "State Number"})
pop_df = rename_df.drop([0])
pop_df.to_csv("state_pop.csv", encoding="utf-8", index=False, header=True)
pop_df

   Population State Number
1     2976149           28
2     6137428           29
3     1068778           30
4     1934408           31
5     3080156           32
6     1359711           33
7     8882190           34
8     2096829           35
9    19453561           36
10   10488084           37
11     762062           38
12   11689100           39
13    3956971           40
14    4217737           41
15   12801989           42
16    1059361           44
17    5148714           45
18     884659           46
19    6829174           47
20   28995881           48
21     623989           50
22    3205958           49
23    8535519           51
24    7614893           53
25    1792147           54
26    5822434           55
27     578759           56
28    3193694           72
29    4903185           01
30     731545           02
31    7278717           04
32    3017804           05
33   39512223           06
34    5758736           08
35     973764           10
36     705749           11
37    3565287           09
38   21477737           12
39   10617423           13
40    1787065           16
41    1415872           15
42   12671821           17
43    6732219           18
44    3155070           19
45    2913314           20
46    4467673           21
47    4648794           22
48    1344212           23
49    6045680           24
50    6892503           25
51    9986857           26
52    5639632           27

In [54]:
income_response = requests.get(f"https://api.census.gov/data/timeseries/poverty/saipe?get=SAEPOVALL_PT,SAEMHI_PT,NAME&for=state:*&time=2018&key={api_key}").json()
income_response_df = pd.DataFrame(income_response)
rename_inc_df = income_response_df.rename(columns={1:"Median Household Income Est.", 2: "State", 4: "State Number"})
income_df = rename_inc_df.drop([0])
income_df = income_df.drop(columns= [0, 3])
income_df.to_csv("pop_income.csv", encoding="utf-8", index=False, header=True)
income_df

   Median Household Income Est.                 State State Number
1                         49881               Alabama           01
2                         74912                Alaska           02
3                         59079               Arizona           04
4                         47094              Arkansas           05
5                         75250            California           06
6                         71949              Colorado           08
7                         76366           Connecticut           09
8                         65467              Delaware           10
9                         82533  District of Columbia           11
10                        55433               Florida           12
11                        58634               Georgia           13
12                        80527                Hawaii           15
13                        55524                 Idaho           16
14                        65063              Illinois           17
15                        55725               Indiana           18
16                        60071                  Iowa           19
17                        58150                Kansas           20
18                        50189              Kentucky           21
19                        48021             Louisiana           22
20                        55579                 Maine           23
21                        83076              Maryland           24
22                        79817         Massachusetts           25
23                        56640              Michigan           26
24                        70295             Minnesota           27
25                        44740           Mississippi           28
26                        54412              Missouri           29
27                        55248               Montana           30
28                        59724              Nebraska           31
29                        58740                Nevada           32
30                        75322         New Hampshire           33
31                        81777            New Jersey           34
32                        47405            New Mexico           35
33                        67648              New York           36
34                        53922        North Carolina           37
35                        65250          North Dakota           38
36                        56155                  Ohio           39
37                        51914              Oklahoma           40
38                        63168                Oregon           41
39                        60891          Pennsylvania           42
40                        63787          Rhode Island           44
41                        52449        South Carolina           45
42                        57041          South Dakota           46
43                        52366             Tennessee           47
44                        60632                 Texas           48
45                        71381                  Utah           49
46                        60917               Vermont           50
47                        72600              Virginia           51
48                        74023            Washington           53
49                        44038         West Virginia           54
50                        60779             Wisconsin           55
51                        62259               Wyoming           56

In [63]:
merged_df = pd.merge(pop_df, income_df, on= "State Number")
merged_df = merged_df.set_index("State")
merged_df

                     Population State Number Median Household Income Est.
State
Mississippi             2976149           28                        44740
Missouri                6137428           29                        54412
Montana                 1068778           30                        55248
Nebraska                1934408           31                        59724
Nevada                  3080156           32                        58740
New Hampshire           1359711           33                        75322
New Jersey              8882190           34                        81777
New Mexico              2096829           35                        47405
New York               19453561           36                        67648
North Carolina         10488084           37                        53922
North Dakota             762062           38                        65250
Ohio                   11689100           39                        56155
Oklahoma                3956971           40                        51914
Oregon                  4217737           41                        63168
Pennsylvania           12801989           42                        60891
Rhode Island            1059361           44                        63787
South Carolina          5148714           45                        52449
South Dakota             884659           46                        57041
Tennessee               6829174           47                        52366
Texas                  28995881           48                        60632
Vermont                  623989           50                        60917
Utah                    3205958           49                        71381
Virginia                8535519           51                        72600
Washington              7614893           53                        74023
West Virginia           1792147           54                        44038
Wisconsin               5822434           55                        60779
Wyoming                  578759           56                        62259
Alabama                 4903185           01                        49881
Alaska                   731545           02                        74912
Arizona                 7278717           04                        59079
Arkansas                3017804           05                        47094
California             39512223           06                        75250
Colorado                5758736           08                        71949
Delaware                 973764           10                        65467
District of Columbia     705749           11                        82533
Connecticut             3565287           09                        76366
Florida                21477737           12                        55433
Georgia                10617423           13                        58634
Idaho                   1787065           16                        55524
Hawaii                  1415872           15                        80527
Illinois               12671821           17                        65063
Indiana                 6732219           18                        55725
Iowa                    3155070           19                        60071
Kansas                  2913314           20                        58150
Kentucky                4467673           21                        50189
Louisiana               4648794           22                        48021
Maine                   1344212           23                        55579
Maryland                6045680           24                        83076
Massachusetts           6892503           25                        79817
Michigan                9986857           26                        56640
Minnesota               5639632           27                        70295